<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h1 class="text-center">COVID-19 DATA</h1>
      </div>
    </div>
    <div style="display: flex; justify-content: center">
      <div v-if="arrCases.length > 0" style="width: 700px; height: 700px">
        <div class="col">
          <h2 class="text-center">Positive</h2>
          <line-chart
            :casesData="arrCases"
            :chartColors="casesChartColors"
            label="Positive"
          />
        </div>
      </div>

      <div>
        <h2>Data Table</h2>
        <table class="table" style="margin-top: 2.5em">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Cases</th>
              <th scope="col">Recovery</th>
              <th scope="col">Death</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <div
                  v-for="(dataTableDeath, index) in dataTableDeath"
                  :key="index"
                >
                  {{ dataTableDeath[0] }}
                </div>
              </th>
              <td>
                <div v-for="(dataCases, index) in dataCases" :key="index">
                  {{ dataCases[1] }}
                </div>
              </td>
              <td>
                <div
                  v-for="(dataTableDeath, index) in dataTableDeath"
                  :key="index"
                >
                  {{ dataTableDeath[1] }}
                </div>
              </td>
              <td>
                <div
                  v-for="(dataTableDeath, index) in dataTableDeath"
                  :key="index"
                >
                  {{ dataTableDeath[1] }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import LineChart from "./components/LineChart";

export default {
  components: {
    LineChart,
  },
  data() {
    return {
      cases: [],
      arrCases: [],
      casesChartColors: {
        backgroundColor: "#A04000",
      },
      arrDeath: [],
      dataTableDeath: [],
      dataCases: [],
    };
  },
  created() {
    axios
      .get("https://disease.sh/v3/covid-19/historical/all?lastdays=30")
      .then((data) => {
        const dataTest = data.data.cases;
        const resultArray = Object.keys(dataTest).map(function (key) {
          return [key, dataTest[key]];
        });
        const dataDeath = data.data.deaths;
        const resultDataDeath = Object.keys(dataDeath).map(function (key) {
          return [key, dataDeath[key]];
        });
        const dataRecov = data.data.recovered;
        const resultDataRecov = Object.keys(dataRecov).map(function (key) {
          return [key, dataRecov[key]];
        });

        this.arrCases.push(resultArray);
        this.arrDeath.push(resultDataDeath);
        this.dataCases = resultArray;
        this.dataTableDeath = resultDataDeath;
        this.dataTableRecov = resultDataRecov;
        console.log(this.dataTableRecov);
      });
  },
};
</script>

<style>
</style>
